.center-box {
    margin: auto;
}

#play {
    height: 30px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black;
}

#logo{
    margin: auto;
    width: 150px;
    height: 60px;
    background: url("../images/pokemonlogo.jpg") no-repeat;
    background-size: contain;
}

#game {
    width: 740px;
}

#wrapper {
    height: 240px;
}

.pokeball {
    float: left;
    width: 240px;
    height: 240px;
    background: url("../images/pokeball.jpg") no-repeat;
    background-size: contain;
    cursor: pointer;
}

#two {
    margin-left: 10px;
}

#three {
    margin-left: 10px;
}

#options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

#counter {
    width: 160px;
    height: 55px;
    line-height: 55px;
    background: blue;
    border: none;
    color: #fff;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    display: inline-block;
    margin: 0;
}

#new-game {
    width: 160px;
    height: 55px;
    cursor: pointer;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #4CAF50;
    border: none;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    display: inline-block;
    padding: 0;
}
