#jeden {
    float: left;
    width: 240px;
    height: 360px;
    background-image: url("../images/pokeball.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#dwa {
    float: left;
    margin-left: 20px;
    width: 240px;
    height: 360px;
    background-image: url("../images/pokeball.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}

#trzy {
    float: left;
    margin-left: 20px;
    width: 240px;
    height: 360px;
    background-image: url("../images/pokeball.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}


#zliczam {
    margin: 50px;
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#nowagra {
    margin: 10px;
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
