.center-box {
    margin: auto;
}

#title {
    font-size: 30px;
    height: 50px;
    text-align: center;
    font-family: "Calibri", cursive, sans-serif;
    text-transform: uppercase;
    color: blue;
}

#game {
    width: 740px;
}

#cards {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokeball {
    width: 240px;
    height: 240px;
    cursor: pointer;
}

#options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

#description {
    text-align: center;
    font-family: "Calibri", cursive, sans-serif;
    border-radius: 25px;
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    height: 135px;
}

#score-board {
    width: 160px;
    height: 55px;
    line-height: 55px;
    border-radius: 10px;
    background: blue;
    border: none;
    color: #fff;
    font-family: "Calibri", cursive, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    display: inline-block;
    margin: 0;
}

.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

#restart-game {
    width: 160px;
    height: 55px;
    cursor: pointer;
    font-family: "Calibri", cursive, sans-serif;
    text-transform: uppercase;
    background-color: #4CAF50;
    border: none;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    display: inline-block;
    padding: 0;
}

#next-round {
    width: 160px;
    height: 55px;
    cursor: pointer;
    font-family: "Calibri", cursive, sans-serif;
    text-transform: uppercase;
    background-color: #4CAF50;
    border: none;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    display: inline-block;
    padding: 0;
}
